{
  "env": {
    "test": {
      "sourceType": "unambiguous",
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [ "istanbul"]
    }
  }
}
